/* Estilos generales */
body {
    background-color: #000; /* Fondo negro en todo el sitio */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaciado uniforme entre elementos */
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 0 20px; /* Espaciado lateral */
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaciado entre logos */
}

.header-text {
    white-space: normal; /* Permite el salto de línea */
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    color: #ffffff; /* Color blanco */
    display: none; /* Inicialmente oculto */
    transition: opacity 0.5s ease; /* Transición de opacidad para suavizar la aparición */
    flex-grow: 0.85; /* Hace que el texto ocupe el espacio disponible */
    overflow: hidden; /* Asegura que no se recorte el texto */
}

/* Tamaño general de los logos */
.company-logo {
    object-fit: contain; /* Asegura que la proporción de la imagen se mantenga */
}

/* Estilos específicos para cada logo */
.logo-pz {
    width: 50px;
    height: 50px;
}

.logo-be {
    width: 60px;
    height: 40px;
}

.logo-cnch {
    width: 60px;
    height: 50px;
}

.logo-mn {
    width: 50px;
    height: 50px;
}

.logo-tm {
    width: 80px;
    height: 60px;
}

.logo-cc {
    width: 50px;
    height: 50px;
}


/* Estilos específicos para los logos de la derecha */
.logo-cr,
.logo-gt,
.logo-ni,
.logo-pa,
.logo-sv,
.logo-hn,
.logo-home {
    width: 40px;
    height: 40px;
}

/* Contenedor de logos del lado derecho */
.right-logos {
    justify-content: flex-end;
    padding-right: 20px; /* Agrega espacio entre los logos y el borde derecho */
}

/* Si prefieres margen en el último logo del lado derecho */
.right-logos .company-logo:last-child {
    margin-right: 20px; /* Espacio específico solo para el último logo */
}


/* Sección de video de introducción */
.hero-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.gif-overlay {
    position: absolute;
    z-index: 2; /* Above the video */
    width: 220px; /* Adjust size */
    height: auto;
    top: 300px; /* Control position Y */
    left: 290px; /* Control position X */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-align: center; /* Alineación centrada */
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.hero-title_paises {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-align: center; /* Alineación centrada */
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

/* Título entre el video y los reportes */
.intro-title {
    padding: 50px;
    background-color: transparent;
    color: transparent;
    font-size: 0;
    text-align: center;
}

/* Sección de reportes */
.reports-section {
    padding: 150px 50px 50px;
    margin-top: 100px; /* Evita que se superponga con el encabezado */
    background: linear-gradient(to bottom, #000000, #00000000);
    position: relative;
}


/* Estilo para los títulos de las secciones */
.section-title {
    font-size: 40px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    color: #fdfdfd; /* Color del texto (puedes cambiarlo por el que prefieras) */
    margin-top: 30px; /* Espacio superior */
    margin-bottom: 15px; /* Espacio inferior */
    text-align: left; /* Alineación del texto */
    padding-left: 20px; /* Espaciado a la izquierda */
    border-left: 5px solid #03f9f9; /* Línea a la izquierda */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
}


/* Fondo del video en la sección de reportes */
.reports-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que esté detrás de los contenidos */
}

.reports-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    object-fit: cover;
    filter: blur(15px); /* Difumina el fondo */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    z-index: 2;
    position: relative;
}

/* Estilos para hacer toda la tarjeta clickeable */
.report-card {
    display: block; /* Hace que el enlace ocupe toda la tarjeta */
    background: rgba(120, 191, 233, 0.1);
    border: 1px solid #03f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.report-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.report-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #d7d7d7; /* Cambia a verde */
}

.report-description {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #f1f1f1; /* Cambia a blanco suave */
}

.report-card a {
    color: inherit; /* Hereda el color de la tarjeta */
}

/* Pie de página */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
}


#audio-button {
    position: fixed; /* Hace que el botón sea flotante */
    bottom: 20px; /* Posición desde la parte inferior */
    right: 20px; /* Posición desde la parte derecha */
    background-color: rgb(22, 22, 22);
    color: white;
    border: 2px solid #57b9ed;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

#audio-button:hover {
    background-color: #4a4848; /* Cambia el color al pasar el ratón */
}



/* Estilo para las líneas de texto */
.line {
    font-size: 15px;
    font-weight: bold;
}





